body {
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: burlywood;
    justify-items: center;
    font-family: 'Manrope', sans-serif;
    grid-template-rows: 10vh auto 20px;
}

.message {
    min-width: 300px;
    max-width: 400px;
    background-color: antiquewhite;
    border: 0.5px solid rgb(174, 145, 107);
    padding: 5px 20px 5px 20px;
    text-align: center;
    font-size: 17px;
    color: black;
    border-radius: 5px;
}

form {
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
}

input {
    width: calc(100% - 60px);
    font-size: 18px;
    border-radius: 16px;
    border: none;
    padding: 5px 15px 5px 15px;
    margin-bottom: 15px;
    background-color: antiquewhite;
    margin-left: 30px;
    margin-right: 30px;
}

input[type="file"] {
    width: 200px;
    margin: 0;
}

textarea {
    width: calc(100% - 60px);
    font-size: 20px;
    border-radius: 16px;
    border: none;
    min-height: 350px;
    max-height: 40vh;
    margin: 5px 30px 10px 30px;
}

input:focus,
textarea:focus {
    outline-color: transparent;
}

#to {
    margin-top: 25px;
}

header {
    background-color: rgb(142, 119, 77);
    display: grid;
    align-items: center;
    height: 50px;
    border-radius: 20px 20px 0 0;
}

p {
    color: whitesmoke;
    margin: 0 0 0 20px;
    font-size: 20px;
}

.bottomDiv {
    background-color: antiquewhite;
    margin: 0;
    height: 50px;
    display: grid;
    grid-template-columns: auto 85px;
    justify-items: right;
    align-items: center;
    border-radius: 0 0 20px 20px;
}

input[type="file"] {
    display: none;
}

button {
    background-color: aliceblue;
    border: aliceblue;
    height: 30px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    margin-right: 10px;
    vertical-align: middle;
    font-size: 15px;
}

.custom-file-upload {
    background-color: aliceblue;
    border: aliceblue;
    height: 30px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    margin-right: 10px;
    vertical-align: middle;
    font-size: 15px;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    color: buttontext;
    font-family: 'Manrope', sans-serif;
}

.custom-file-upload input[type="file"] {
    display: none;
}

footer{
    display: flex;
    align-items: center;
}
a {
    cursor: pointer;
    text-decoration: none;
    color: black;
    margin-left: 5px;
}
@media screen and (min-width: 1200px) {
    body {
        grid-template-columns: minmax(400px, 750px);
    }
}

@media screen and (max-width: 1200px) {
    body {
        grid-template-columns: minmax(300px, 750px);
    }

    textarea {
        min-height: 45vh;
    }

    input {
        font-size: 16px;
        border-radius: 16px;
    }

    .message {
        margin: auto;
        font-size: 12px;
        padding: 4px 8px 4px 8px;
    }

    textarea {
        width: calc(100% - 32px);
        font-size: 16px;
        margin: 8px 16px 8px 16px;
    }

    input {
        width: calc(100% - 32px);
        font-size: 14px;
        padding: 4px 12px 4px 12px;
        margin-bottom: 12px;
        margin-left: 16px;
        margin-right: 16px;
    }

    button {
        height: 24px;
        font-size: 14px;
    }

    .custom-file-upload {
        height: 24px;
        font-size: 14px;
    }

    .bottomDiv {
        height: 40px;
    }
}