<html lang="en">
<head>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href='https://fonts.googleapis.com/css?family=Manrope' rel='stylesheet'>
        {% load static %}
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}"/>
        <title>Send Wishes</title>
    </head>
</head>
<body>
    <h1 style="text-align: center;font-size: 40px;">Page not found :(</h1>
<h1 style="text-align: center;font-size: 40px;">Redirecting...</h1>
    <script>
        setTimeout(() => window.location = "/", 1250)
    </script>
</body>
</html>