<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Manrope' rel='stylesheet'>
    {% load static %}
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}"/>
    <title>Send Wishes</title>
</head>
<body>
    {% for m in messages %}
        {% if forloop.first %}
            <p class="message">{{m}}</p> 
        {% endif %}
    {% endfor %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <header><p>New Email</p></header>
        <input type="email" id="to" name="to" placeholder="To" required>
        <input type="text" name="subject" placeholder="Subject">
        <textarea name="body" id="body"></textarea>
        <div class="bottomDiv">
            <label class="custom-file-upload">
                <input type="file" name="file">
                <span class="file-text">Attach File</span>
            </label>
            <button type="submit">Send</button>
        </div>
    </form>
    <footer>
        <a href="https://github.com/asiradnan/sendwish">View Source</a>
    </footer>
    <script>
    const fileInput = document.querySelector('input[type="file"]');
    const fileText = document.querySelector('.file-text');
    const deleteBtn = document.querySelector('.delete-file');

    fileInput.addEventListener('change', function() {
        const fileName = this.files[0]?.name;
        fileText.textContent = fileName || 'Attach File';
        deleteBtn.style.display = fileName ? 'inline-flex' : 'none';
    });

    deleteBtn.addEventListener('click', function() {
        fileInput.value = '';
        fileText.textContent = 'Attach File';
        this.style.display = 'none';
    });
</script>
</body>
</html>